.grid__row a {
  text-decoration: none;
}

.img--avatar {
  display: block;
  margin: auto;
}

.headline--primary {
  font-weight: bold;
  color: #3DF0C8;
}

.headline--secondary {
  font-weight: normal;
  color: #D4D7D6;
}

.nav {
  display: block;
  list-style-type: none;
  text-align: center;
}
.nav a {
  display: block;
  padding: 15px;
  width: 100%;
  color: #A5A5A5;
}
.nav a:hover {
  background: #3DF0C8;
  color: #FFFFFF;
  border-radius: 5px;
}

.btn--info, .btn--warning, .btn--error, .btn--success, .btn--default {
  width: 90%;
  text-transform: capitalize;
  font-size: 1.3em;
  color: #FFFFFF;
  border: none;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--8.theme__colors, .grid__col--7.theme__colors, .grid__col--5.theme__colors, .grid__col--3.theme__colors, .grid__col--4.theme__colors, .grid__col--6.theme__colors, .grid__col--12.theme__colors {
  padding: 12px;
  border-radius: 5px;
  margin: 5px 0;
  color: #797979;
}

* {
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

ul {
  padding: 0;
}

p {
  color: #A5A5A5;
  line-height: 1.5;
}

.grid__row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.grid__col--12 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--12.theme__colors {
  background: #82D2BE;
}
.grid__col--6 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--6.theme__colors {
  background: #3495B0;
}
.grid__col--4 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--4.theme__colors {
  background: #86E1EC;
}
.grid__col--3 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--3.theme__colors {
  background: #E0ACEF;
}
.grid__col--5 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--5.theme__colors {
  background: #85DE94;
}
.grid__col--7 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--7.theme__colors {
  background: #F39898;
}
.grid__col--8 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}
.grid__col--8.theme__colors {
  background: #D89675;
}

.headline--secondary {
  color: #A5A5A5;
  font-weight: normal;
  margin-left: auto;
}

.card {
  padding: 15px;
}
.card .link {
  color: #69E1FC;
}

.blockquote {
  color: #A5A5A5;
  font-size: 1.3em;
  line-height: 1.5;
  font-style: italic;
  padding-left: 10px;
  border-left: 6px solid #3DF0C8;
}

.grid__col--9 {
  width: 90%;
}

.img--frame {
  border: 1px solid #A5A5A5;
  padding: 15px;
  margin-bottom: 10px;
}

.btn--default {
  background: #69E1FC;
}
.btn--success {
  background: #38CE7D;
}
.btn--error {
  background: #E76D6D;
}
.btn--warning {
  background: #DA6743;
}
.btn--info {
  background: #836DB1;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
  width: 50%;
}
.form .headline--secondary {
  margin-left: auto;
}
.form .form__label--hidden {
  display: none;
}
.form .form__input {
  border: none;
  border-bottom: 4px solid #3DF0C8;
  margin: 1.5em 0;
}

/*# sourceMappingURL=styles.css.map */
