// ==============================================
// MIXINS
// ==============================================

// create partials for media queries and flexbox settings

// basic flexbox settings
@mixin flex-box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-direction: column;
}

// color themes for buttons and grids
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

// Media query mixin
@mixin desktop($point) {
  @if $point == 'large' {
    @media(min-width: $desktop) {
      @content;
    }
  }

}
