// =========================================
// PLACEHOLDERS
// =========================================


// links
%link {
  text-decoration: none;
}

// images
%image {
  display: block;
  margin: auto;
}

// headlines
%headline-prim {
  font-weight: bold;
  color: $headline-primary;
}

%headline-sec {
  font-weight: normal;
  color: $headline-secondary;
}

// nav items
%nav {
  display: block;
  list-style-type: none;
  text-align: center;
  a {
    display: block;
    padding: 15px;
    width: 100%;
    color: $text-primary;
    &:hover {
      background: $headline-primary;
      color: $white;
      border-radius: 5px;
      }
  }
}

// basic button styles
%btn {
  width: 100%;
  text-transform: capitalize;
  font-size: 1.3em;
  color: $white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

%grid {
  padding: 12px;
  border-radius: 5px;
  margin: 5px 0;
  color: $text-grid;
}
