// ==========================
// VARIABLES
// ==========================


// fonts
$font-stack: 'Asap', sans-serif;

// Media query breakpoints
$desktop: 768px;

// colors
$white: #FFFFFF; // text for buttons, nav element
$text-primary: #A5A5A5; // page text, text inside nav elements
$text-grid: #797979; // text inside grids

// headline, nav, quote color
$headline-primary: #3DF0C8; // aqua
$headline-secondary: #D4D7D6; // light grey

// link, login, default button color
$text-secondary: #69E1FC; // bright blue

// button colors
$btn-success: #38CE7D; // green
$btn-error: #E76D6D; // rose
$btn-warning: #DA6743; // red
$btn-info: #836DB1; // purple

// grid colors
$grid-12: #82D2BE;
$grid-6: #3495B0;
$grid-4: #78DBF0;
$grid-3: #E0ACEF;
$grid-5: #85DE94;
$grid-7: #F39898;
$grid-8: #D89675;
$grid-4: #86E1EC;
$grid-centered: #C58080;
