// =====================================
// BUTTON STYLES
// =====================================


.btn {

  &--default {
    @extend %btn;
    background: $text-secondary;
  }

  &--success {
    @extend %btn;
    background: $btn-success;
  }

  &--error {
    @extend %btn;
    background: $btn-error;
  }

  &--warning {
    @extend %btn;
    background: $btn-warning;
  }

  &--info {
    @extend %btn;
    background: $btn-info;
    }
}
