// ====================================
// FORM STYLES
// ====================================

.form {
  @include flex-box;
  width: 100%;
  & .form__label--hidden {
    display: none;
  }
  & .form__input {
    width: 95%;
    align-self: center;
    border: none;
    border-bottom: 5px solid $headline-primary;
    margin: 25px 0;
  }
}
