// ====================================
// FORM STYLES
// ====================================

.form {
  @include med-qry(med) {
    width: 90%;
  }

  @include flex-box;
  width: 100%;
  & .form__label--hidden {
    display: none;
  }
  & .form__input {

    @include med-qry(med) {
      width: 85%;
    }

    width: 95%;
    align-self: center;
    border: none;
    border-bottom: 7px solid $headline-primary;
    margin: 35px 0;
    &::placeholder {
      padding: 10px;
      font-size: 0.9em;
    }
  }
}
