// ===================================
// IMAGE STYLES
// ===================================


.img {
  &--avatar{
    @extend %image;
  }
  &--logo {
    display: flex;
    margin: auto;
    padding: 10px 0;
    @include desktop(large) {
      display: inline-block;
    }
  }
  &--frame {
    border: 1px solid $text-primary;
    padding: 15px;
    margin-bottom: 40px;
  }
}
