// ========================================
// NAVIGATION
// ========================================

.grid__col--9 {
  width: 90%;
}

.nav {
  @include med-qry(med) {
    display: flex;
    margin: auto;
  }

  &__item {
    @extend %nav;
    a {
      display: block;
      padding: 15px;
      width: 100%;
      color: $text-primary;
      &:hover {
        background: $headline-primary;
        color: $white;
        border-radius: 5px;
        }
    }
  }
}
