// =======================================
// TYPOGRAPHY
// =======================================

.headline--primary {
  @extend %headline-prim;
  width: 60%;
  margin-left: 20px;
}

.headline--secondary {
  @extend %headline-sec;
  color: $text-primary;
  font-weight: normal;
  // margin-left: 10px;
}

.card {
  
  & .link {
    color: $text-secondary;
    font-weight: bold;
  }
}

.blockquote {
  color: $text-primary;
  font-size: 1.3em;
  line-height: 1.5;
  font-style: italic;
  padding-left: 10px;
  border-left: 6px solid $headline-primary;
}
