// =======================================
// TYPOGRAPHY
// =======================================

.headline--primary {
  @extend %headline-prim;
  width: 80%;
  margin-left: 40px;
}

.headline--secondary {
  // border: 2px solid green;
  @extend %headline-sec;
  @include flex-box;
  color: $text-primary;
  font-weight: normal;
  padding-top: 1.1em;
  padding-bottom: 1.4em;
}

.card {
  @include med-qry(med) {
    // width: 90%;
  }
  & .link {
    color: $text-secondary;
    font-weight: bold;
  }
}

.blockquote {
  color: $text-primary;
  font-size: 1.3em;
  line-height: 1.5;
  font-style: italic;
  padding-left: 10px;
  border-left: 6px solid $headline-primary;
  margin-bottom: 60px;
}
