// =======================================
// TYPOGRAPHY
// =======================================

.headline--primary {
  @extend %headline-prim;
}

.headline--secondary {
  color: $text-primary;
  font-weight: normal;
  margin-left: 10px;
}

.card {
  padding: 15px;
  & .link {
    color: $text-secondary;
  }
}

.blockquote {
  color: $text-primary;
  font-size: 1.3em;
  line-height: 1.5;
  font-style: italic;
  padding-left: 10px;
  border-left: 6px solid $headline-primary;
}
